*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family:sans-serif ;
    background-color:black ;
    color: paleturquoise;
}
.header{
    text-align: center;
    padding: 2px;
}
.tribute{
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 78rem;
    margin: 0px;
    background-color: white;
    color: black;
    align-items: center;
    padding: 0px 0px 0px 1rem;
   
}
.tribute blockquote{
    text-align: center;
    font-size: 3rem;
}
.tribute img{
    min-width:  200%;
    
}
.about{
    color:skyblue;
    margin: 2rem;
    padding: 0px;
    min-width: 40rem;
}
.h2{
    margin-bottom: 1rem ;
    font-size:3rem ;
    line line-height:1.2 ;
}
.bio >hr[
    
]
